<h4>Comments</h4>
<% comments.each do |comment|%>

  <div class="form-group">
     <%= comment.body%>
  </div>

  <div class="form-group">
    <strong>Comment By:</strong>
    <%= comment.user.username %>
  </div>

<% end %>